
.menu-bar {
    -fx-padding: 0 2 0 2;
}

.menu-bar .menu {
    -fx-padding: 1 3 1 3;
}

.menu-bar .label {
    -fx-font-size: 7pt;
    -fx-padding: 0 2 0 2;
}

.context-menu {
    -fx-padding: 1 0 1 0;
}

.context-menu .menu-item .label {
    -fx-font-size: 7pt;
    -fx-padding: 1 3 1 3;
}

